@import 'bootstrap';
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 *= require_self
 *= require_tree .
 */
$branco: #FFFFFF;
$preto: #000000;
$header-height: 50px;
$header-background: $branco;
$html-background: #D9534F;
$font-color: $branco;
$button-width: 289px;
$button-height: 88px;
$phone-img-height: 512px;
$footer-height: 30px;
$footer-background: #494949;

html {
  background-color: $html-background;
}
.navbar-brand:hover {
  color: $preto !important;
}
li{
  a:hover {
    color: $preto !important;
  }
}

.navbar{
  background-color: $header-background;
}
main{
  color: $font-color;
  margin-top: $header-height + 20px;
  margin-bottom: $footer-height + 10px;
  background-color: $html-background;
}
.btn-lg { 
  width: $button-width;
  margin-top: 10px;
}

.right {
  height: $phone-img-height;
  position: relative;
}

.buttons {
  position: absolute;
  bottom: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  background-color: $footer-background;
}
